@font-face {
  font-family: 'Bebasneue';
  src: url('../fonts/BebasNeue%20Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'BebasneueBook';
  src: url('../fonts/BebasNeue%20Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'BebasneueBold';
  src: url('../fonts/BebasNeue%20Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'BebasneueThin';
  src: url('../fonts/BebasNeue%20Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

html, body{height: 100%; width: 100%;}
body{font-family: "Bebasneue";}
.lh40{line-height: 30px;}
.cienporcien{height: 100%;}
.container-full { margin: 0 auto; width: 100%; }
.ease{-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}


a#btn-reserva{ position: fixed; transform: rotate(-90deg); display: block; background: #ff226f; color: #fff; right: -63px; padding: 5px 20px; text-align: center; top: 230px; font-size: 24px; z-index: 1000; letter-spacing: 1px; }
a#btn-reserva:hover{background: #000; text-decoration: none;}

header{height: 100px; background: #fff; font-family: Helvetica, Arial, sans-serif;}
header img.logo{width: 120px;}
header .nav{margin-bottom: 20px;}
header .nav>li>a{color: #4bd2d2;text-transform: uppercase; font-size: 12px; padding: 10px 20px;}
header .nav-pills>li.active>a, header .nav-pills>li.active>a:focus, header .nav-pills>li.active>a:hover{color: #ff226f; background-color: transparent; height: 60px; }
header .nav>li>a:focus, header .nav>li>a:hover { text-decoration: none; background-color: transparent; color: #ff226f;}
#submenu{height: 40px;}
#submenu a.lang{display: inline-block; margin-top: 10px; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; padding: 0 5px; font-size: 12px; color: #000;}
#submenu a.lang.esp{}
#submenu a.lang.eng{border-right: 1px solid; margin-left: -4px;}
#submenu ul{font-family: 'Bebasneue'; list-style: none; padding: 0; margin-top: 10px;}
#submenu ul li{display: inline-block; margin-left: 10px;}
#submenu ul li.bandera{ text-align: center;}
#submenu ul li.bandera a{color: #000;}
#submenu ul li.bandera a img{}
#submenu ul li.location span{ position: relative; top: -10px; font-size: 17px; line-height: 100%;}
#submenu ul li.bandera a span{}

section{min-height: 200px; position: relative;}


#slider{ /* height: 80%; */ }
.owl-stage,
.owl-item,
.owl-stage-outer{height: 100%; width: 100%;}
#info-slider{ position: absolute; margin: auto; top: 0; right: 0; bottom: 0; left: 0; z-index: 10; width: 50%; height: 40%; text-align: center;}
#info-slider img{width: 200px;}
#info-slider h1{color: #fff; font-size: 120px; margin: 0; letter-spacing: 10px; font-weight: normal; }

.redes { position: absolute; z-index: 10; left: 3%; top: 10%; }
.redes ul{list-style: none; padding: 0;}
.redes ul li{padding: 0;}
.redes ul li a{display: inline-block; width: 30px;}
.redes ul li a:hover{opacity: 0.8;}


#acerca{background: url(../img/bg-01.png) center center; padding: 7% 0; background-size: cover;}
#acerca img{width: 30%; margin-bottom: 6%; }
#acerca h2{ color: #49bdbc; font-weight: normal; font-size: 40px; margin: 0;}
#acerca p{color: #000; font-size: 50px; line-height: 100%;}

#beneficios{height: 90%;min-height: 670px;}
#beneficios .owl-theme .owl-nav.disabled+.owl-dots{ width: 50%; bottom: 10%; position: absolute; }
#beneficios .info{ position: absolute; width: 40%; height: 40%; left: 5%; top: 30%; z-index: 9; color: #fff;}
#beneficios .info h2{font-size: 80px; line-height: 80%;}
#beneficios .info h3{font-size: 35px; margin-top: 0; margin-bottom: 30px;}
#beneficios-box{position: absolute; width: 40%; height: 100%; right: 10%; background: rgba(0,0,0,0.5); z-index: 10;}
#beneficios-box h3{color: #ff226f; text-transform: uppercase; text-align: center; font-size: 36px;}
#beneficios-ico{}
#beneficios-ico a{float: left; display: block; width: 20%; position: relative;}
#beneficios-ico a:after{  content: ""; display: block; padding-bottom: 90%;}
#beneficios-ico a .icobox{position: absolute; width: 100%; height: 100%;}
#beneficios-ico a img{margin: 0 auto; }

a.vermas{width: 100px; display: inline-block; border: 2px solid #fff; padding: 5px 10px 2px; color: #fff; font-size: 18px; margin-bottom: 20px;}
a.vermas:hover{text-decoration: none; border: 2px solid #ff226f;}

#servicios-ico{}
#servicios-ico a{float: left; display: block; width: 20%; position: relative;}
#servicios-ico a:after{  content: ""; display: block; padding-bottom: 90%;}
#servicios-ico a .icobox{position: absolute; width: 100%; height: 100%;}
#servicios-ico a img{margin: 0 auto;}

#comunidad{background: url(../img/bg-02.png) center center #79b8ba; padding: 5px 0; background-size: cover; color: #fff;}
#comunidad h1{font-size: 50px;}
.comunidadbox{padding-top: 5%; padding-bottom: 5%;}
#blogbox{border-right:  6px solid #fff;}
#eventosbox{ border-right:  6px solid #fff;}


#lugares{background: url(../img/bg-03.png) center center; padding: 20px 0; background-size: cover;}
.lugarbox{min-height: 450px; background: rgba(0,0,0,0.8); color: #fff;}
#lugarboxfoto{border: 10px solid #fff; background-size: cover; background-position: center center;}  
#lugares h1{color: #ff226f;}
#lugares h2{text-align: center; font-family: 'BebasneueBold';}
#lugares p{ font-size: 20px; text-align: justify; }
#lugares ol{font-size: 20px; list-style-position: inside; padding: 0;}
#lugares ol li{}
#lugares ol li a{color: #fff;}
#lugares .form-control{border: 0;font-size: 20px;}




footer{background: #000; height: 150px; color: #dc155b; text-transform: uppercase;}
footer p{line-height: 150px; font-size: 20px;margin-bottom: 0;}
footer a{color: #dc155b;}
footer a:hover{color: #fff; text-decoration: none;}